.btn-info,
.btn-primary {
    background-color: #4B708A;
    border-color: #4B708A;
    color: #FFFFFF;
}

.btn-primary:hover, 
.btn-primary:focus, 
.btn-primary:active, 
.btn-primary.active, 
.open .dropdown-toggle.btn-primary, 
.btn-primary:active:focus, 
.btn-primary:active:hover, 
.btn-primary.active:hover, 
.btn-primary.active:focus,
.btn-info:hover, 
.btn-info:focus, 
.btn-info:active, 
.btn-info.active, 
.open .dropdown-toggle.btn-info, 
.btn-info:active:focus, 
.btn-info:active:hover, 
.btn-info.active:hover, 
.btn-info.active:focus {
    background-color: #3f5060;
    border-color: #3f5060;
}

.panel-primary > .panel-heading {
    background-color: #4B708A;
    border-color: #4B708A;
}
.panel-primary {
    border-color: #4B708A;
}
.navbar-default .nav > li > a:hover, .navbar-default .nav > li > a:focus {
    background-color: #4B708A;
    color: white;
}

.wrapper-content .tabs-container .nav-tabs > li.active > a, 
.wrapper-content .tabs-container .nav-tabs > li.active > a:hover, 
.wrapper-content .tabs-container .nav-tabs > li.active > a:focus {
    color: #4B708A;
}

.btn.btn-warning.btn-circle {
    background-color: #B1B1B1;
    border-color: #B1B1B1;
}

.btn.btn-warning.btn-circle:hover {
    background-color: #b5b5b5;
    border-color: #b5b5b5;
}

.nav-header .userlogoimg {
    width: 150px;
    height: 35px;
}